.form {
  background: rgb(0, 0, 0);
}
.title_text {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: bold;
  color: #fff
  ;
}


.error-text {
  color: red;
}

@media screen and (max-width: 768px) {
}
